/*Remove default navbar border-radius*/
* {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}




/*
  ========================================
  Top-bar
  ========================================
*/
.top-bar {
	height: 40px;
}


#main-links {

}
/*
  ========================================
  Navbar
  ========================================
*/

.navbar {
	margin-bottom: -20px;
}
/*changes the height of the navbar*/
.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    /*height: 90px;*/
}



/*changes the navbar background color */
.navbar-default {
	background-color: rgba(62, 169, 245, 1);
	border-color: rgba(62, 169, 245, 1);
}
/*changes navbar link colors*/
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
/*Changes navbar-right link color*/
.navbar-default .navbar-right > li > a {
	color: #fff;
}
/*changes navbar hover color*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
}
/*changes color of navbar dropdown link when clicked
or background color for dropdown when active*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #133AFF;
	background-color: #13B4FF;
}
.navbar-default .navbar-toggle {
	border-color: #5daafa;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #5daafa;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #f9fdff;
}
/* BEGIN NAVBAR RIGHT */

#right-dropdown {
	position: ;
	margin-right: 10px;
}



/*END NAVBAR RIGHT*/
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #f9fdff;
}
.navbar-default .navbar-link {
	color: #f9fdff;
}
.navbar-default .navbar-link:hover {
	color: #58f9bf;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #f9fdff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #58f9bf;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #58f9bf;
		background-color: #5daafa;
	}
}


#logged-user {
	display: block;
	color: #fff;
	margin: -30px 0 -30px;

}
#sign-out {
	margin-left: 5px;
}
/*right hand drop down menu*/
.dropdown-menu {
	padding: 15px;
	/*border: 2px solid red;*/
	border-radius: 100px;
}

#login-or {
	display: block;
	text-align: center;
	font-size: 1.5em;
}
#google-login-hover {
	display: none;
}


/*
  ========================================
  Main Section
  ========================================
*/

#container-main {
	padding-top: 25px;
}


/*
  ========================================
  Post Display
  ========================================
*/
 .post-title {
	color: #68C283;
	margin-bottom: 0px;
 }
.posts {
	margin-top: 25px;
	 /*background-color: #C2BABE;*/
}
.post-date {
	margin-left: 5px;
	/*margin-top: -4px;*/
}

/*
  ========================================
  Footer
  ========================================
*/

#footer-main {
	background-color: rgba(46, 127, 209, 1);
}
.footer-header {
	color: #fff;
}
/*
  ========================================
  Misc
  ========================================
*/



.centered
{
    text-align:center;
}

.clear-fix {
	clear: both;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	/*color: ;*/
	/*text-align: center;*/
}
